  <form class="create-map-form" action="/users/<%= @user.id %>/maps" method="post">
    <input type="text" placeholder="enter a band" name="band"><br>
    <input type="submit" value="enter">
  </form>
