<div id="profile-container">

<h2>Welcome, <%= @user.username %></h2>

  <div id="profile-page-wrapper">
    <a href="/users/<%= @user.id %>/maps/new" id="create-map-btn"><button>Create a Map</button></a>
    <div class="create-map-wrapper"></div>
    <div id="map-list-wrapper">
      <% @maps.each do |map| %>
      <a class="view-map-link" href="/maps/<%= map.id %>"><%= map.artist %></a><br>
      <% end %>
    </div>
    </div>
  </div>



</div>